body {
    background-color: #61bfe2;
    margin-left: 20%;
    margin-right: 20%;
}

#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}

img {
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 400px;
    margin-left: 200px;
}

#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: black;
}

div#tribute-data {
    background-color: #e8f9fd;
    box-shadow: 20px 20px 20px #2c2a1f;
    font-family: Arial;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

h1.title-APJ {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 5px 5px 10px rgb(6, 45, 63);
}

#tribute-link {
    text-decoration: none;
    color: black;
}